@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap');

body{
    display: flex;
    margin-left: 7.5px;
    margin-top: 17.4px;
}

.intro{
    width: 120rem;
    height: 300px;
    background-color: #28779f;
    margin-top: -120px;
    margin-left: -8px;
}

.intro p.nombre{
    font-size: 100px;
    font-family: 'Dongle', sans-serif;
    text-align: center;
}

.principal h1{
    font-size: 80px;
    font-family: 'Dongle', sans-serif;
}

.hobbies{
    width: 30rem;
    height: 632px;
    background: #fccb41;
    margin-left: -8px;
    margin-top: -3px;
    text-align: center;

}

.peliculas{
    width: 30rem;
    height: 632px;
    background: #8fc8bf;
    margin-left: 460px;
    margin-top: -635px;
    text-align: center;
}

.series{
    width: 30rem;
    height: 632px;
    background: #48c2de;
    margin-left: 930px;
    margin-top: -635px;
    text-align: center;
}

.contacto{
    width: 31.4rem;
    height: 632px;
    background: #73e8fb;
    margin-left: 1410px;
    margin-top: -635px;
    text-align: center;
}

.btnHobbies{
    margin: 0 50px;
    position: relative;
    padding: 10px 70px;
    font-family: 'Dongle', sans-serif;
    font-size: 60px;
    background-color: #fccb41;
    letter-spacing: 2px;
    cursor: pointer;
    overflow: hidden;
    transition: .3s;
    margin-top: 15rem;
}

.btnHobbies:hover{
    color: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .7);
}

.btnPeliculas{
    margin: 0 50px;
    position: relative;
    padding: 10px 70px;
    font-family: 'Dongle', sans-serif;
    font-size: 60px;
    background-color: #8fc8bf;
    letter-spacing: 2px;
    cursor: pointer;
    overflow: hidden;
    transition: .3s;
    margin-top: 15rem;
    margin-left: 2rem;
}

.btnPeliculas:hover{
    color: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .7);
}

.btnSeries{
    margin: 0 50px;
    position: relative;
    padding: 10px 70px;
    font-family: 'Dongle', sans-serif;
    font-size: 60px;
    background-color: #48c2de;
    letter-spacing: 2px;
    cursor: pointer;
    overflow: hidden;
    transition: .3s;
    margin-top: 15rem;
    margin-left: 2rem;
}

.btnSeries:hover{
    color: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .7);
}

.btnContacto{
    margin: 0 50px;
    position: relative;
    padding: 10px 70px;
    font-family: 'Dongle', sans-serif;
    font-size: 60px;
    background-color: #73e8fb;
    letter-spacing: 2px;
    cursor: pointer;
    overflow: hidden;
    transition: .3s;
    margin-top: 15rem;
    margin-left: 2rem;
}

.btnContacto:hover{
    color: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .7);
}

.bdyContacto{
    background-color: #73e8fb;
}

.bdyContacto h1{
    font-family: 'Dongle', sans-serif;
    font-size: 80px;
    margin-top: -2rem;
}

.imgFb{
    width: 8rem;
    height: 8rem;
}

.fb p.txtFb{
    margin-top: -2rem;
    font-size: 40px;
    font-family: 'Dongle', sans-serif;
    color: black;
    
}

.imgGmail{
    width: 8rem;
    height: 8rem;
}

.gmail p.txtGmail{
    margin-top: -2rem;
    font-size: 40px;
    font-family: 'Dongle', sans-serif;
    color: black;
}

.imgGmail2{
    width: 8rem;
    height: 8rem;
}

.gmail2 p.txtGmail2{
    margin-top: -2rem;
    font-size: 40px;
    font-family: 'Dongle', sans-serif;
    color: black;
}

.imgOut{
    width: 8rem;
    height: 8rem;
}

.out p.txtOut{
    margin-top: -2rem;
    font-size: 40px;
    font-family: 'Dongle', sans-serif;
    color: black;
}

.imgWha{
    width: 8rem;
    height: 8rem;
}

.wha p.txtWha{
    margin-top: -2rem;
    font-size: 40px;
    font-family: 'Dongle', sans-serif;
    color: black;
}

.btnContactoAtras{
    margin: 0 50px;
    position: relative;
    padding: 1px 30px;
    font-family: 'Dongle', sans-serif;
    font-size: 40px;
    background-color: #73e8fb;
    letter-spacing: 2px;
    cursor: pointer;
    overflow: hidden;
    transition: .3s;
    margin-top: -220px;
    margin-left: 8rem;
}

.btnContactoAtras:hover{
    color: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .7);
}